@{
    ViewBag.Title = "About";
}
<header id="gtco-header" class="gtco-cover gtco-cover-md g-header" role="banner" style="background-image: url(/Content/Home/hinhchinh/khach-san-me-kong-my-tho-1.jpg)" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
</header>
<div class="container">
    <br /><br /><br /><br />
    <div class="">
        <div class="panel-heading">
            <h3 class="panel-title">@ViewBag.Title</h3>
        </div>
        <div class="panel-body">
            <h3>Chào mừng đến với khách sạn Mekong-Hotel</h3>

            <p>



                <div class="row">
                    <div>
                        <div class="col-lg-8">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3924.8509178038385!2d106.35735441523906!3d10.353803092609112!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x310aafed70e4461d%3A0xe62303f27f5077f4!2sMy%20Tho%20Mekong%20Hotel!5e0!3m2!1sen!2s!4v1622863464616!5m2!1sen!2s" width="700" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>

                        </div>
                        <div class="col-lg-4">

                        </div>
                    </div>
                    <div>
                        <div class="col-lg-4">
                        
                        </div>
                        <div class="col-lg-8">
                            <iframe width="700" height="450" src="https://www.youtube-nocookie.com/embed/mvkw2fIT6Xo?start=45" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                        </div>
                    </div>





                </div>

                



                Khách sạn Mekong là khách sạn Quốc tế đầu tiên tại Việt nam. Tọa lạc giữa lòng thành phô Mỹ Tho, khách sạn MeKong là điểm dừng chân lý tưởng của các du khách trong và ngoài nước cho mỗi chuyến công tác hay du lịch cùng bạn bè và người thân.
               
                
                
                Không chỉ làm hài lòng Quý khách bởi hệ thống phòng nghỉ sang trọng cùng các trang thiết bị hiện đại,
                Khách sạn còn cung cấp các dịch vụ phong phú và tiện nghi như: Nhà hàng, Phòng họp, dịch vụ cho thuê Văn phòng, sân Tennis, Sauna & Massage, trung tâm Thể hình, Sòng bạc và các dịch vụ giải trí.

                Tại đây, Quý khách được thưởng thức các món ẩm thực tinh tế mang đậm phong cách truyền thống và được đảm nhiệm bởi các đầu bếp chuyên nghiệp, tài hoa cùng với phong cách phục vụ chuyên nghiệp, 
                nhiệt tình và thân thiện của đội ngũ nhân viên giàu kinh nghiệm. Tất cả đã góp phần làm nổi danh một thương hiệu Khách sạn Mekong .

            </p>
        </div>
    </div>
</div>

